/*----------------------START PROFIEL --------------------------------*/
/***************** start no name **********************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
.body-profile-contact {
  margin-top: 20px;
}
.img1e {
  width: 100%;
  border-radius: 4px;
}
.button-width {
  border-radius: 0px;
  margin-top: 15px;
}
.thumb-name,
.thumb-txt,
.thumb-comp,
.thumb-recom,
.thumb-idte,
.thumb-favoid {
  margin-bottom: 20px;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
.thumb-recom {
  height: 300px;
}
.thumb-idte,
.thumb-favoid {
  height: 400px;
}
.thumb-txt,
.thumb-comp {
  height: 232px;
}
.thu-im {
  margin: 0px;
  padding: 0px;
}
.body-user-recommendation {
  margin-top: 20px;
}
/***************** start no name **********************/
/***************** start profile-contact ******************/
/***************** end profile-contact *******************/
/***************** start profile-user-recommendation ************/
/***************** end profile-user-recommendation ************/
/***************** start profile-ideas-teams ****************/
/***************** end profile-ideas-teams *****************/
/***************** start profile-favorite-idea ************/
/***************** end profile-favorite-idea *************/
/*----------------------END PROFIEL --------------------------------*/
