/***************** start no name ************************/
.index {
  margin-left: 120px;
  margin-right: 140px;
}
.container {
  width: 1000px;
}
.thumbnail {
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  display: block;
}
.caption {
  margin: 0px;
  padding: 0px;
  display: table;
}
.image-inside-thumb {
  margin: 0px;
  padding: 0px;
  display: table;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.thumb-title-bold {
  color: black;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  color: gray;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  zoom: 0.9;
  -moz-transform: scale(2);
  /* Firefox */

}
.icod {
  margin: 0px;
  padding: 0px;
}
.glyp-modified {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.team-caption {
  padding-left: 5px;
  color: gray;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.team-caption:hover {
  color: black;
  courser: default;
}
.thumbnail:hover {
  box-shadow: 0 0 2px 2px #E6E0F8;
}
/***************** end no name   ***********************/
/******** start carousel - manipulation********/
.carousel-control:hover,
.carousel-control:focus {
  color: red;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2%;
  opacity: 0.2;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: red;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  left: -70px;
  right: auto;
}
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  right: -40px;
  left: auto;
}
.carousel-control-idea-area-left {
  right: auto;
  left: 120px;
}
.carousel-control-idea-area-right {
  right: 120px;
  left: auto;
}
.carousel-caption {
  position: absolute;
  color: white;
  filter: alpha(opacity=50);
  opacity: 1px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-caption .btn {
  text-shadow: none;
}
/******** end carousel - manipulation*********/
/****** start nav tabs **********************/
.nav-tabs {
  border-bottom: 0px solid #dddddd;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  margin-right: 60px;
  text-decoration: none;
  list-style-type: none;
}
.nav-tabs > li > a {
  margin-right: 0px;
  line-height: 1.428571429;
  border: 0px solid transparent;
  border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: blue;
  background: white;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs-idea-area > li.active > a,
.nav-tabs-idea-area > li.active > a:hover,
.nav-tabs-idea-area > li.active > a:focus {
  background: #E5E4E2;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #dddddd;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}
/****** end  nav tabs **********************/
