/*----------------------START PROJECT PAGE --------------------------------*/
/***************** start no name *******************************************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
.titl-cont {
  display: table;
  margin: 0px auto;
  margin-top: 20px;
}
.body-project-page-logged-in-main {
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.thum-group {
  margin-bottom: 20px;
  background: lightgray;
}
.team-leader {
  margin-left: 2px;
}
.thum-forum {
  box-shadow: 0 0 1px 1px #E6E0F8;
  height: 200px;
}
.para-team {
  padding-left: 20px;
}
.thum-group-th {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background: lightgray;
}
.glyphicon-user {
  zoom: 3;
  width: 100%;
}
.thumb-team-lead-post {
  margin-bottom: 40px;
  height: 100px;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
.thumb-user-post {
  height: 1000px;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
/***************** end no name *******************************************/
/***************** start project-page-logged-in-member-title *************/
/***************** end project-page-logged-in-member-title **************/
/***************** start project-page-logged-in-member-main *************/
/***************** end project-page-logged-in-member-main  *************/
/*----------------------END PROJECT PAGE --------------------------------*/
