/*----------------------START MULTIPLE TEAMS --------------------------------*/
/******************** start no name ****************************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
.thum-group {
  margin-bottom: 20px;
  background: lightgray;
}
.team-leader {
  margin-left: 2px;
}
.thumb-container1 {
  background: lightgray;
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
}
.thum-group-th {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background: lightgray;
}
.multiple-teams-description-main-up-left-glyph-usr {
  zoom: 3;
  width: 100%;
}
.thumb-team-lead-post {
  margin-bottom: 40px;
  height: 100px;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
.thumb-user-post {
  height: 1000px;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
.mul-teams {
  margin-top: 20px;
  margin-left: 20px;
}
.more {
  bottom: 20px;
  padding-right: 20px;
}
.btn-width {
  width: 80%;
  margin-top: 20px;
}
.button-intro {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.glyphicon-info-sign {
  padding-top: 10px;
}
.titl-cont {
  display: table;
  margin: 0px auto;
  margin-top: 20px;
}
/******************** end no name ****************************/
/********************Start idea profile publcity wanted *******/
.mutiple-teams-container {
  background: #ffffff none repeat scroll 0% 0% auto padding-box border-box;
  border: 1px solid #d0d5cb;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 0px 4px rgba(208, 213, 203, 0.298039);
  color: #121a0d;
  font: normal normal normal 16px/24px 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin-top: 20px;
  outline: #121a0d none 0px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
/********************end idea profile publcity wanted ********/
/******************** start multiple-teams-title ************/
/******************** end multiple-teams-title *************/
/******************** start multiple-teams-main ***********/
/******************** end multiple-teams-main*************/
/*----------------------END MULTIPLE TEAMS --------------------------------*/
