/************* start header************/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
}
.body-header {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
.header-container {
  background: black;
  display: table;
  margin: 0px auto;
}
/***************** end header *************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
/*********** start footer *******/
.body-footer {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
footer ul.breadcrumb {
  background: black;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
footer ul.breadcrumb li {
  text-shadow: none;
}
footer ul.breadcrumb li a {
  color: white;
}
/*************  end footer ************/
.body-profile-contact {
  margin-top: 20px;
}
.img1e {
  width: 100%;
  border-radius: 4px;
}
.button-width {
  border-radius: 0px;
  margin-top: 15px;
}
.thumb-name,
.thumb-txt,
.thumb-comp,
.thumb-recom,
.thumb-idte,
.thumb-favoid {
  margin-bottom: 20px;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 0 1px 1px #E6E0F8;
}
.thumb-recom {
  height: 300px;
}
.thumb-idte,
.thumb-favoid {
  height: 400px;
}
.thumb-txt,
.thumb-comp {
  height: 232px;
}
.thu-im {
  margin: 0px;
  padding: 0px;
}
