/************* start header************/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
}
.body-header {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
.header-container {
  background: black;
  display: table;
  margin: 0px auto;
}
/***************** end header *************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
/*********** start footer *******/
.body-footer {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
footer ul.breadcrumb {
  background: black;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
footer ul.breadcrumb li {
  text-shadow: none;
}
footer ul.breadcrumb li a {
  color: white;
}
/*************  end footer ************/
.button-width {
  width: 50%;
  border-radius: 0px;
}
.body-welcom-user {
  margin-top: 20px;
}
.sear {
  padding-top: 20px;
}
.more {
  padding-bottom: 20px;
}
.img1e {
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.thumbnail {
  margin: 0px;
  padding: 0px;
}
.load-more-updates-para {
  display: table;
  margin: 0px auto;
  padding-bottom: 20px;
}
/************start popular idea*******/
.body-popular-idea {
  background: white;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.tab-content {
  margin-top: 20px;
}
.popular-idea-container {
  margin-top: 20px;
  background: white;
  margin-bottom: 10px;
}
/************end popular idea*******/
.body-welcom-user {
  background: white;
}
.body-challenges-logged-in {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.body-category-logged-in {
  background: white;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.body-recommended-logged-in {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.thumbnail:hover {
  box-shadow: 0 0 2px 2px #E6E0F8;
}
/********************start carousel - manipulation*******************************/
.carousel-control:hover,
.carousel-control:focus {
  color: red;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2%;
  opacity: 0.2;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: red;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  left: -70px;
  right: auto;
}
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  right: -40px;
  left: auto;
}
.carousel-control-idea-area-left {
  right: auto;
  left: 120px;
}
.carousel-control-idea-area-right {
  right: 120px;
  left: auto;
}
.carousel-caption {
  position: absolute;
  color: white;
  filter: alpha(opacity=50);
  opacity: 1px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-caption .btn {
  text-shadow: none;
}
/********************carousel - manipulation*******************************/
/*******************start nav tabs ****************************************/
.nav-tabs {
  border-bottom: 0px solid #dddddd;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  margin-right: 60px;
  text-decoration: none;
  list-style-type: none;
}
.nav-tabs > li > a {
  margin-right: 0px;
  line-height: 1.428571429;
  border: 0px solid transparent;
  border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: blue;
  background: white;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs-idea-area > li.active > a,
.nav-tabs-idea-area > li.active > a:hover,
.nav-tabs-idea-area > li.active > a:focus {
  background: #E5E4E2;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #dddddd;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}
/*******************end  nav tabs ****************************************/
