/************* start header************/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
}
.body-header {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
.header-container {
  background: black;
  display: table;
  margin: 0px auto;
}
/***************** end header *************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
/*********** start footer *******/
.body-footer {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
footer ul.breadcrumb {
  background: black;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
footer ul.breadcrumb li {
  text-shadow: none;
}
footer ul.breadcrumb li a {
  color: white;
}
/*************  end footer ************/
.body-search-bar {
  margin-top: 20px;
}
.body-search-main {
  margin-top: 40px;
  margin-bottom: 20px;
}
.ide-ro {
  margin-bottom: 20px;
}
.more {
  display: table;
  margin: 0px auto;
}
#idea-2 > section > a {
  text-decoration: none;
}
#idea-2 > section > a > p:hover {
  color: black;
}
.thum-sear {
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  display: block;
}
.thum-sear:hover {
  box-shadow: 0 0 2px 2px #E6E0F8;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  color: gray;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  zoom: 0.9;
  -moz-transform: scale(2);
  /* Firefox */

}
.img1e {
  margin: 0px;
  padding: 0px;
  display: table;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.colr {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.panel-heading .panel-toggle:after {
  /* symbol for "opening" panels */

  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */

  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */

  float: right;
  /* adjust as needed */

}
.panel-heading .panel-toggle.collapsed:after {
  /* symbol for "collapsed" panels */

  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */

}
