/*----------------------START SEARCH --------------------------------*/
/********************* no name ************************/
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
.panel-heading .panel-toggle:after {
  /* symbol for "opening" panels */

  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */

  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */

  float: right;
  /* adjust as needed */

}
.panel-heading .panel-toggle.collapsed:after {
  /* symbol for "collapsed" panels */

  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */

}
.body-search-bar {
  margin-top: 20px;
}
.body-search-main {
  margin-top: 40px;
  margin-bottom: 20px;
}
.ide-ro {
  margin-bottom: 20px;
}
.more {
  display: table;
  margin: 0px auto;
}
#idea-2 > section > a {
  text-decoration: none;
}
#idea-2 > section > a > p:hover {
  color: black;
}
.thum-sear {
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  display: block;
}
.thum-sear:hover {
  box-shadow: 0 0 2px 2px #E6E0F8;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  color: gray;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  zoom: 0.9;
  -moz-transform: scale(2);
}
.img1e {
  margin: 0px;
  padding: 0px;
  display: table;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.colr {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
/********************* no name ************************/
/********************* start search-bar *******************/
/********************* end search-bar *******************/
/********************* start search-main *******************/
/********************* end search-main *******************/
/*----------------------END SEARCH --------------------------------*/
