.home-index {
  background: white;
}
.home-idex-logged-in {
  background: white;
}
.index {
  margin-left: 220px;
  margin-right: 200px;
  background: url(../../images/bkgrn.png) repeat scroll left right top bottom transparent;
}
@media (max-width: 767px) {
  .index {
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
}
/************* start header************/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
}
.body-header {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
.header-container {
  background: black;
  display: table;
  margin: 0px auto;
}
/***************** end header *************/
/*********** start footer *******/
.body-footer {
  background: black;
  box-shadow: -2px 1px 1px #808080;
}
footer ul.breadcrumb {
  background: black;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
footer ul.breadcrumb li {
  text-shadow: none;
}
footer ul.breadcrumb li a {
  color: white;
}
/*************  end footer ************/
/****start intro***/
.body-intro {
  background: #E5E4E2;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
}
.intro-video {
  width: 700px;
}
/*video intro size 700px*/
.intro-search {
  margin-top: 10px;
  width: 700px;
  margin-bottom: 10px;
}
.intro-para {
  margin-left: 180px;
  padding-top: 10px;
  color: orange;
}
.intro-para-domain {
  color: lightblue;
}
iframe {
  width: 700px;
  height: 300px;
}
.button-width {
  width: 48%;
}
.button-intro {
  margin-top: 15px;
  margin-bottom: 10px;
}
.intro-idea-container {
  background: ;
  margin-bottom: 10px;
}
.intro {
  display: table;
  margin: 0px auto;
}
/********** end intro *****f***** /



/************start popular idea*******/
.body-popular-idea {
  background: white;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.tab-content {
  margin-top: 20px;
}
.popular-idea-container {
  margin-top: 20px;
  background: white;
  margin-bottom: 10px;
}
.popular-par {
  display: table;
  margin: 0px auto;
}
/************end popular idea*******/
/************start idea area*******/
.body-idea-area {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.idea-area-container {
  margin-top: 20px;
  background: #E5E4E2;
  margin-bottom: 10px;
}
.idea-area-para {
  display: table;
  margin: 0px auto;
  padding-top: 20px;
}
.area-nav {
  margin-top: 10px;
}
/************end popular idea*******/
/************find teams*******/
.body-teams {
  background: white;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.teams-container {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.teams-para {
  display: table;
  margin: 0px auto;
}
.teams-cont {
  margin-top: 20px;
}
.glyphicon-camera {
  zoom: 6;
  text-align: center;
  -moz-transform: scale(2);
  /* Firefox */
}
.find-team-icon {
  text-align: center;
  margin: 0px auto;
  display: table;
}
.find-team-col:hover {
  background: lightgray;
}
/************find teams*******/
/************start idea recommendation*******/
/************start idea recommendation*******/
/************start categordy logged in*******/
.body-category-logged-in {
  background: white;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
/************end categordy logged in*******/
/************start boddy challenges logged in*******/
.body-challenges-logged-in {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
/************end challenges logged in*******/
/************start popular-challenges*******/
.body-popular-challenges {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.popular-challenges-container {
  margin-top: 20px;
}
.body-recommended-logged-in {
  background: #E5E4E2;
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.popular-challenges {
  background: #E5E4E2;
}
.popular-challenges-para {
  margin-left: 300px;
}
/************end popular-challenges*******/
/**********start media************/
@media (min-width: 768px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  iframe {
    width: 400px;
    height: 200px;
  }
  .idea-profile-publicity-container {
    margin: 0px;
  }
  .navbar {
    padding-left: 10px;
  }
}
/**********end media************/
/*************start idea name**************/
.body-idea-name {
  box-shadow: 1px 1px 1px #D8D8D8 inset;
}
.idea-name-para {
  margin: 0px auto;
  display: inline-block;
}
.carousel-caption-title {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 5px;
  z-index: 80;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.img-idea-name {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.carousel-caption-more {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*************end idea name**************/
/***************** start no name *************************/
.more {
  margin-right: 30px;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 2px 0;
}
#register-siginin > button {
  box-shadow: -10px -10px 10px -10px;
}
.tab-content h3,
.tab-content h4 {
  margin: 0;
  padding: 0;
}
.tab-content h3 {
  color: gray;
  line-height: 1em;
}
.tab-content p {
  padding: 0;
  padding-top: 10px;
}
.thumbnail {
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  display: block;
}
.caption {
  margin: 0px;
  padding: 0px;
  display: table;
}
.img1e {
  margin: 0px;
  padding: 0px;
  display: table;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.thumbnail:hover {
  box-shadow: 0 0 2px 2px #E6E0F8;
}
b {
  color: black;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  color: gray;
}
.glyphicon-user,
.glyphicon-thumbs-up,
.glyphicon-globe {
  zoom: 0.9;
  -moz-transform: scale(2);
  /* Firefox */

}
.icod {
  margin: 0px;
  padding: 0px;
}
.colr {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.team-caption {
  padding-left: 5px;
  color: gray;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.team-caption:hover {
  color: black;
  courser: default;
}
/***************** end no name *************************/
/***********figure**********
a, figure {
    display: inline-block;
}
figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}
***********figure end*************/
/********************start carousel - manipulation*******************************/
.carousel-control:hover,
.carousel-control:focus {
  color: green;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=90);
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2%;
  opacity: 0.2;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: green;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  left: -70px;
  right: auto;
}
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  right: -40px;
  left: auto;
}
.carousel-control-idea-area-left {
  right: auto;
  left: 120px;
}
.carousel-control-idea-area-right {
  right: 120px;
  left: auto;
}
.carousel-caption {
  position: absolute;
  color: white;
  filter: alpha(opacity=50);
  opacity: 1px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-caption .btn {
  text-shadow: none;
}
/********************carousel - manipulation*******************************/
/*******************start nav tabs ****************************************/
.nav-tabs {
  border-bottom: 0px solid #dddddd;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-top: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  margin-right: 60px;
  text-decoration: none;
  list-style-type: none;
}
.nav-tabs > li > a {
  margin-right: 0px;
  line-height: 1.428571429;
  border: 0px solid transparent;
  border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: blue;
  background: white;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs-idea-area > li.active > a,
.nav-tabs-idea-area > li.active > a:hover,
.nav-tabs-idea-area > li.active > a:focus {
  background: #E5E4E2;
  border: 0px solid #dddddd;
  border-bottom: 0px solid blue;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #dddddd;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}
/*******************end  nav tabs ****************************************/
